.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar > button {
  max-width: 200px;
  max-height: 40px;
  border-radius: 5px;
}

.navBar > h3 {
  padding: 0 5px;
  color: white;
  display: flex;
  justify-content: center;
}
