.container {
  margin: 0;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  border-radius: 5px;
}
.editButton {
  font-size: 16px;
  color: green;
}
.todoWindowHeader {
  display: flex;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 15%;
  background-color: #efefef;
}
.descriptionNavButtons > button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.todoWindowHeader > h3 {
  margin: 0;
}

.todoWindowDescription {
  display: flex;
  hyphens: auto;
  height: 85%;
  background-color: #3d3d3d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
}
